a.ige-link, a.ige-link:hover {
    border-bottom: 1px dotted #660420;
    color: #660420 !important;
    text-decoration: none;
}

#igemutato-tooltip,
#igemutato-tooltip * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

#igemutato-tooltip,
.igemutato-igehely a,
.igemutato-igehely a:hover {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: #333;
    text-decoration: none;
}

#igemutato-tooltip {
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #e5e5e5;
}

.igemutato-szoveg {
    background: white;
    padding: 5px;
    text-align: justify;
    overflow: auto;
    box-shadow: inset 0 -5px 10px -5px rgba(0,0,0,0.5);
}

#igemutato-tooltip sup,
#igemutato-tooltip .konyv {
    color: #999;
}

#igemutato-tooltip .konyv {
    font-weight: bold;
    font-size: 1.5em;
}

.igemutato-igehely {
    width: 100%;
    height: 20px;
    font-size: 13px;
    text-align: left;
}

#igemutato-tooltip,
.igemutato-igehely select {
    background: #f5f5f5;
}

.igemutato-igehely div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.igemutato-igehely a {
    margin: 0 10px;
}

.igemutato-igehely span,
.igemutato-igehely select {
    float: right;
}

.igemutato-igehely select {
    font-size: 10px;
    height:16px;
    margin: 2px;
    border: 1px solid #ccc;
}
