.ige-link, .ige-link:hover{
	border-bottom: 1px dotted #660420;
	color: #660420!important;
	text-decoration:none;
}
#igemutato,
#igemutato .igehely a,
#igemutato .igehely a:hover{	
	background: white;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: black;
	text-decoration:none;
}
#igemutato{	
	position: absolute;
	z-index: 1000;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#igemutato .szoveg{
	padding: 5px;
	text-align: justify;
	overflow: auto;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#igemutato .igehely{
	width: 100%;
	height:19px;
	font-size:13px;
	text-align: left;
	border-top: 1px solid #ccc;
}
.igehely a,
.igehely span{
	margin: 0 10px;
}